.user-index-page {
  background: url("~blues-lee-zUsvn51N2Ro-unsplash");
  max-width: 1000px;
  margin: 0 auto ;
  .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &-default-img {
      width: 340px;
      height: 520px;
      object-fit: cover;
      background-image: url("~profile_default_img_128.png");
      background-size: contain;
      margin: auto;
    }
    &-img {
      width: 340px;
      height: 520px;
      object-fit: cover;
    }
    &-name {
      position: absolute;
      bottom: 5px;
      color: #fff;
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.swipe {
  height: 92vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: opacity 0.1s ease-in-out;
  &--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
    svg {
      font-size: 100px;
      opacity: 0;
      transform: scale(0.3);
      transition: all 0.2s ease-in-out;
      position: absolute;
      margin: -40px 0 0 -40px;
      width: 100px;
    }
  }
  &--cards {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1;
    .no-user {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &.is-active {
        display: flex;
      }
    }
  }
  &--card {
    display: inline-block;
    width: 90vw;
    max-width: 340px;
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    p {
      margin-top: 24px;
      font-size: 20px;
      padding: 0 16px;
      pointer-events: none;
    }
    img {	
      max-width: 100%;	
      pointer-events: none;	
    }
  }
  &--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
    button {
      border-radius: 50%;
      line-height: 60px;
      width: 60px;
      border: 0;
      background: #FFFFFF;
      display: inline-block;
      margin: 0 8px;
      &:focus {
        outline: 0;
      }
    }
  }
  &_like .fa-handshake {
    opacity: 0.7;
    transform: scale(1);
  }
  &_dislike .fa-pray {
    opacity: 0.7;
    transform: scale(1);
  }
  .moving .swipe--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
}

.fa-handshake {
  color: #FFACE4;
}

.fa-pray {
  color: #CDD6DD;
}

@media (min-width: 415px) {
  .user-index-page {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 8px auto;
  }
}

@media (min-width: 414px) {
  .swipe {
    height: 640px;
  }
}