@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import "recommend";

@import "layouts/navbar";

@import "user/sigh_up";
@import "user/sign_in";
@import "user/show";
@import "user/edit";
@import "user/index";

// @import "matching/index";
